                          {% extends "shared/layout.html" %}
                          {% load static %}

                          <!-- STATIC CSS FILES  -->
                          {% block staticss %}
                          <link rel="stylesheet" href="{% static 'css/_styles.css' %}">
                          {% endblock staticss %}


                          {% block content %} 

                          <!-- main content  -->
                            {% include "partials/_header.html" %}
                            <div class=e3_2>
                              <div class=e228_2509>
                                <div class="e20_6"></div>

                                <div class="e3_3">
                                  <!-- <H1>hahah</H1> -->
                                <!-- <img id="brand"  src="{% static 'img/DSC_7749-removebg-preview.png' %}" alt="" srcset=""> -->
                                </div>

                                <span class="e3_5">Buy and Sell Bitcoin
                                  with best market
                                  rate!!!</span>
                                  <span class="e6_6">Get started with the easiest and most secured platform
                                  to buy & sell cryptocurrencies.</span>

      <!-- <a href="#"></a><span class="e7_7">Login</span></a>

     

      <a href="#"><span class="e9_18">Trade </span></a>

      <a href="#"><span class="e9_21">Blog</span></a>

      <a href="#"><span class="e9_22">Contact </span></a> -->

      <!-- <div class="e7_8"></div> -->

      <!-- <span class="e9_9">Get Started </span>
      <div class=e177_2580>
        <div class="e9_12"></div><span class="e170_2506">Get Started </span>
      </div> -->
      <div class="e73_2"></div>
      
    </div>
    <div class="wrapper">
    <span class="e14_26">Everything you need in one place </span>
    
    <!-- <span class="e47_85">Quick Exchange</span> -->

    <div class=e30_21>
      <div class=e30_15><span class="e14_35">Swift Transaction </span>
        
        <span class="e14_36"> Buy/sell your crypto
          with instant payment, on our secure and reliable platform
          
        </span>
        <div class=e30_18>
          <div class="e27_4"></div>
          <div class="e24_12"></div>
        </div>
      </div>
      <div class=e30_16><span class="e17_2">No Hidden Charges</span><span class="e17_3">No transaction fee
          and
          commission apply.</span>
        <div class=e30_19>
          <div class="e30_14"></div>
          <div class="e27_7"></div>
        </div>
      </div>
      <div class=e30_17><span class="e17_4">24/7 Support </span><span class="e17_5">We provide support 24hrs customer services </span>
        <div class=e30_20>
          <div class="e30_13"></div>
          <div class="e29_9"></div>
        </div>
      </div>
    </div>
  </div>
    <!-- <div class=e47_82>
      <div class="e35_5"></div><span class="e44_62">Cryptocurrency rate will be updated in 00:45</span><span
        class="e37_22">Buy</span><span class="e44_38">You Receive</span><span class="e37_26">100,000</span><span
        class="e44_37">0.00077</span><span class="e37_32">NGN</span><span class="e44_40">BTC</span>
     
      <div class=e47_86>
        <div class="e43_35"></div>
        <div class=e47_88>
          <div class="e44_60"></div>
        </div>
      </div>
      <div class=e44_71>
        <div class=e44_36>
          <div class="e44_65"></div>
        </div>
      </div>
      <div class=e44_77>
        <div class=e44_39>
          <div class="e44_74"></div>
        </div>
      </div>
      
      <div class=e47_81>        
        <div class="e47_79"></div><span class="e47_80">Get Started </span>
      </div>

    </div> -->
    <div class="container" >
      <div class="aboutus" >
        <h2>
          <a href="" id="aboutus"> 
            About Us
          </a>
          
        </h2>
      
      </div>
      <p>
        Trade-rite.ng is a Fintech company registered with Coperate Affairs Commission, we create a platform for buying and selling of all digital assets with a <br>faster and seamless technological innovation including excellence services on a secure and trusted platform so everyone to acheive financial freedom and inclusion.
      </p>
    </div>

    <div class=e159_4679>
      <div class="e59_179">
       
      </div>
      <span class="e52_103">Get Started in 3 Easy Steps </span><span class="e52_126">Sign up
        for an account with your name, email and phone number then verify your identity in minutes.</span><span
        class="e52_129">Link your bank account to make Naira deposits and withdrawals</span><span class="e52_125">Create
        an Account </span><span class="e52_175">Fund your account with Naira and start trading all your favourite
        assets!

      </span><span class="e52_176">Start buying & selling
      </span><span class="e52_130">Add bank account
      </span>
      <div class="e85_4"></div>
      <div class=e159_4678>
        <div class=e159_4675>
          <div class="e159_4669"></div><span class="e159_4672">1</span>
        </div>
        <div class=e159_4676>
          <div class="e159_4670"></div><span class="e159_4673">2</span>
        </div>
        <div class=e159_4677>
          <div class="e159_4671"></div><span class="e159_4674">3</span>
        </div>
      </div>
    </div>

    <span class="e164_6215">Testimonials</span>

    <div class=e172_2507>
      <div class=e172_2508>
        <div class="e172_2509"></div>
        <span class="e172_2510">“</span>
        <span class="e172_2511">Emmanuel Adebayo</span>
        <span class="e172_2512">CEO, Gospel Inc.</span>
        <div class="e172_2513"></div>
        <span class="e172_2514">Best application for trading your Bitcoins with ease, reliable and fast In payment. I
          was also happy with the rates.</span>
      </div>
      <div class=e172_2515>
        <div class="e172_2516"></div><span class="e172_2517">“</span><span class="e172_2518">Segun Samuel </span><span
          class="e172_2519">CEO,Sege Media</span>
        <div class="e172_2520"></div><span class="e172_2521">I sent litecoin to the address provided and I was waiting,
          before I knew it, I already got the alert in my bank account. I was so happy because I didn’t expect it to be
          that fast.</span>
      </div>
      <div class=e172_2522>
        <div class="e172_2523"></div><span class="e172_2524">“</span><span class="e172_2525"> Nike
          Aladegbami</span><span class="e172_2526">CEO, A Events</span>
        <div class="e172_2527"></div><span class="e172_2528">I recommend it to all of you if you want to have a long
          term reliable crypto wallet that serves you"</span>
      </div>
    </div>



   <footer>
   
   
    <div class=e175_2530>
      <div class="-container">
        <img src="{% static 'img/logo_no-bg.png' %}" alt="brand logo" />
      </div>

      <div class="-dev-logo">
        <!-- <h4>Developed By:</h4> -->
       <a href="http://" target="_blank">
        <img src="{% static 'img/dev-logo.png' %}" alt="brand logo" />
       </a>
      </div>


      <div class="e175_2531">        
      </div>
      <div class=e175_2532><span class="e175_2533">More </span><a href="#"><span class="e175_2534">About Us</span></a>
        <a href="#"><span
          class="e175_2535">Careers </span></a>
          
          <a href="#"><span class="e175_2536">FAQs</span></a>
          
          <a href="#"> <span class="e175_2537">Contact Us</span></a>

          <a href="#"> <span></span></a>
          <a href="#"> <span class="e175_2537">Contact Us</span></a>


      </div>
      <div class=e175_2538><span class="e175_2539">Legal</span>
        
        <a href="#"><span class="e175_2540">Terms and Condition</span></a>
        <a href="#"><span class="e175_2541">Privacy Policy</span></a>
        
        <a href="#"><span class="e175_2542">Cookie Policy </span></a>
        
        <a href="#"><span class="e175_2543">Sitemap </span></a>
      </div>
      <div class=e175_2544><span class="e175_2545">Be Social </span>
        <div class=e175_2546>
          
          <a href="#"><span class="e175_2547">Twitter </span></a>
          
          <a href="#"><span class="e175_2548">Instagram</span></a>
          <a href="#"><span class="e175_2549"><i class="bi bi-facebook"></i>Facebook</span></a>
            
          <a href="#"><span class="e175_2550"> <i></i> Linkedin</span></a>

          
        </div>
        <div class=e175_2551>
          <div class="e175_2552"></div>
          <div class=e175_2553>
            <div class="e175_2554"></div>
          </div>
          <div class="e175_2555">
            <!-- <img src="{% static 'img/in.png' %}" alt="" srcset=""> -->
          </div>
          <div class="e175_2556"></div>
        </div>
      </div>
    </div>

    <!-- COPYRIGHT  -->
   <div class="copyright">
    <hr>
    <p>
      copyright &copy; Trade-Group 2022
      Developed by: Syllabus Technologies.
     
    </p>

    
   </div>
  </footer> 
  </div>


{% endblock content %} 


{% block script %} 
<script type="text/javascript" src="{% static 'js/objserver.js' %}"></script> 



{% endblock script %}