
{% load static %}

<!-- STATIC CSS FILES  -->
{% block staticss %}
<!-- <link rel="stylesheet" href="{% static 'css/_styles.css' %}"> -->
{% endblock staticss %}


{% block content %} 
{% if blogs %} 
{% for blog in blogs  %}
<h2>
    <a href="{% url 'post-detail' blog.slug %}" >
    {{ blog.title }}
   </a>
</h2>
<h5>
    <a href="{% url 'user-blogs' blog.author.username %}">
        {{ blog.author }}
    </a>
</h5>
<h6>
    {{ blog.date_posted | date:"F d, Y" }}
</h6>
<div>
    <p>
        {{ blog.content|slice:'1000' | safe }}
    </p>
</div>
{% endfor %}
{% endif %}

{% endblock content %} 