$questrial-font : "Questrial"
$proxima nova-font : "Proxima Nova"
$montserrat-font : "Montserrat"
$gilroy-bold-font : "Gilroy-Bold"
$gilroy-medium-font : "Gilroy-Medium"
$gilroy-extrabold-font : "Gilroy-ExtraBold"